node_modules/
.history/
.DS_Store
delivery/*
!delivery/.gitkeep
apps/build/*
!apps/build/.gitkeep
client/resource/materials/css
client/resource/materials/maps
client/resource/materials/images/*.webp
apps/server.cert
apps/server.key
apps/server.csr
.github/workflows/delivery.yml
*/_.eslintrc.yml
mysql/*
!mysql/.gitkeep
.env

