node_modules/
.history/
.DS_Store
delivery/*
!delivery/.gitkeep
apps/build/*
!apps/build/.gitkeep
client/resource/materials/css
client/resource/materials/maps
client/resource/materials/images/*.webp
apps/server.cert
apps/server.key
.github/workflows/delivery.yml

