<dl class="component-input-phone">
  <dt class="term">
    PHONE
  </dt>
  <dd class="description">
    <input type="tel" name="phone1" value="<%= value1 %>" class="input" pattern="[\d]*" minlength="3" maxlength="3">
    <span class="hyphen">-</span>
    <input type="tel" name="phone2" value="<%= value2 %>" class="input" pattern="[\d]*" minlength="4" maxlength="4">
    <span class="hyphen">-</span>
    <input type="tel" name="phone3" value="<%= value3 %>" class="input" pattern="[\d]*" minlength="4" maxlength="4">
  </dd>
</dl>