<ul class="component-navigation">
  <li class="navi-list">
    <a href="/" class="navi-link">Primary Page</a>
  </li>
  <li class="navi-list">
    <a href="/secondary/" class="navi-link">Secondary Page</a>
  </li>
  <li class="navi-list">
    <a href="/third/" class="navi-link">Third Page</a>
  </li>
  <li class="navi-list">
    <a href="/fourth/" class="navi-link">Fourth Page</a>
  </li>
</ul>
