<section class="component-timestamp">
  <dl class="list">
    <dt class="term">CERATE AT:&nbsp;&nbsp;</dt>
    <dd class="description"><%= timestamp.createAt %></dd>
  </dl>
  <dl class="list">
    <dt class="term">UPDATE AT:&nbsp;&nbsp;</dt>
    <dd class="description"><%= timestamp.updateAt %></dd>
  </dl>
</section>